.wrapper{
    width: 400px;
    height: 400px;
    margin: 70px auto;
    background-color: aqua;
    border-radius: 40px;
   }
.square{
    width: 120px;
    height: 120px;
    background: darkorange;
    margin: 5px;
    font-size: 108px;
    text-align: center;
    color: white;
    float: left;
    cursor: pointer;
    border-radius: 60px;
}
p{
    background-color: aqua;
    color : rgb(66, 32, 5);
    margin: 0px;
    padding: 20px;
    border:2px solid black;
    border-radius: 45px;
    width: auto;
    font-size: 20px;
}

